<html>
  <head></head>
  <body>
    <h1><% @albums.each do |album| %></h1>

    <div>
      <a href="/albums/<%=album['id']%>">Select</a>
      Title: <%= album['title']%>
      Released: <%= album['release_year']%>
    </div>

    <% end %>
  </body>
</html>