<form action="/albums" method="POST">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="release_year" placeholder="Release year">
  <input type="integer" name="artist_id" placeholder="Artist ID">

  <input type="submit" value="Submit the form">

  <a href="/albums/">Go back</a>
</form>