<form action="/albums" method="POST">
  <input type="text" name="title">
  <input type="text" name="release_year">
  <input type="integer" name="artist_id">

  <input type="submit" value="Submit the form">
</form>