<html>
  <head></head>
  <body>
    <h1><% @artists.each do |artist| %></h1>

    <div>
      <a href="/artist/<%=artist['id']%>">Select</a>
      Title: <%= artist['name'] %> |
      Genre: <%= artist['genre'] %> |
    </div>

    <% end %>
    <br><br>
    <a href="/artists/new">Add artist</a><br>
    <a href="/">Homepage</a>
  </body>
</html>