<form action="/artists" method="POST">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="genre" placeholder="Genre">

  <input type="submit" value="Submit the form">

  <a href="/artists/">Go back</a>
</form>