<html>
    <body>
        <!-- <h1>Hello <%= @name %>!</h1> -->
        <% @names.each do |name| %>
            <p><%= name %></p>
        <% end %>
        <p>This is some web page!</p>

        <p>Page break here</p>
        
        <img src= "hello.jpg"/>
    </body>
</html>