<html>
    <body>
        <!-- <h1>Hello <%= @name %>!</h1> -->
        <!-- <% @names.each do |name| %>
            <p><%= name %></p>
        <% end %> -->

    <h1>Directory</h1>
    <p>Please select Artists or Albums below.</p>
        <a href="/artists/">Artists</a>
        <a href="/albums/">Albums</a>

       <!-- <img src= "hello.jpg"/> -->
    </body>
</html>